
body{
    font-family: 'Cinzel', serif;
    margin: 0;
    
}

/*header*/
header{
    background-image:  linear-gradient(rgba(39, 58, 245, 0.8), rgba(1, 232, 147, 1)), url("/img/huellitas.png");
    image-orientation: from-image;
    background-color: #FFB547;
    position: relative;
}
header section .barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header section .barra .boton button{
    background: none;
    border: none;
}
header section .barra .logo, .logo{
    width: 20%;
}
header section .barra .logo img{
    width: 60%;
    color: #1bbcb6;
}
header section .buscador{
    display: flex;
    justify-content: center;
}
header section .buscador input{
    background-color: white;
    border: none;
    border-radius: 5px;
    width: 40%;
    position: absolute;
}
header section .buscador button{
    position: relative;
    left: 16vw;
    border: none;
    background:none;
}
header nav{
    display: none;
}
header .animal h3{
    text-align: center;
}
header .animal div{
    display: flex;
    justify-content: center;
}
header .animal div button{
    border: none;
    border-radius: 5px;
    margin-left: 5px;
    margin-bottom: 6px;
}
header .animal div button i{
    color: #1bbcb6;
}

/* estilos del main del home */
.home section h3{
    text-align: center;
}
/* ofertas home */
.home section .ofertas{
    display: flex;
    justify-content: space-between;
}
.home section .ofertas article{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home section .ofertas article img{
    width: 100%;
}
.home section .flecha{
    display: flex;
    align-items: center;
}

/* categotias home */

.home section .categoria{
    display: flex;
    justify-content: space-between;
}


/* product detail */

.mainProducto{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    width: 100%;
    background-color: #f2f0ee;
    
}

.iWhatsapp {
    display: flex;
    position: fixed;
    right: 21px;
    bottom: 22px;
    border-radius: 100%;
    background-color: #1bbcb6;
    opacity: 0.6;
    color: white;
    width: 45px;
    height: 45px;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.iWhatsapp:hover {
    background-color: #FFB547;
    color:black;
    opacity: 0,6;

}
.mainProducto .sectionProducto {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #f2f0ee;
    padding: 20px;
}


.mainProducto .imagenProducto {
    width: 100%;
    border-radius: 10px;
}

.mainProducto .infoProducto {
    display:flex;
    justify-content: space-between ;

}
.mainProducto .cuadroCant {
    width: 30px;
    height: 27px;
    
}

.mainProducto .letraNaranja {
    color:#FFB547;
    font-weight: bold;
}

.mainProducto .botonesP {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainProducto .buttonP {
    background-color: rgb(247, 128, 9);
    width: 160px;
    color: #ffff;
    font-weight: bold ;
    border-radius: 5px;
    box-shadow: #1bbcb6;
    margin-bottom: 5px;
}

.mainProducto .buttonP2 {
    background-color: #ffff;
    width: 160px;
    color: rgb(247, 128, 9);
    font-weight: bold ;
    border-radius: 5px;
    box-shadow: #1bbcb6;
}


/* footer */

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgba(1, 232, 147, 1),rgba(39, 58, 245, 0.8) );
}
footer .logo{
    margin-top: 10px;
}
footer .btns{
    display: flex;
    flex-direction: column;
}
footer .btns button{
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}


/* Forms Login and Register */
.login{
    display: flex;
    justify-content: center;
    background-color: rgba(1, 232, 147, 1);
}
.login form{
    display: flex;
    flex-direction: column;
    background-color: rgba(39, 58, 245, 0.1);
    width: 74%;
    margin-bottom: 10px;
    margin-top: 10px;
}
.login form h3{
    text-align: center;
}

.login form section article{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
}
.login form section article input{
    position: absolute;
    border-radius: 15px;
    height: 30px;
}
.login form section .icon{
    position: relative;
    left: 72px;
    top: 8px;
}

.login form .subBotones{
    display: flex;
    flex-direction: column;
}
.login form .subBotones div{
    display: flex;
    font-size: 16px;
    width: 84%;
    justify-content: center;
}
.login form .subBotones button{
    border: none;
    background: none;
}
.login form .submit{
    display: flex;
    justify-content: center;
}
.login form .submit button{
    width: 97px;
    height: 40px;
    font-size: 21px;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* estilos createProduct */

.product {
    display: flex;
    justify-content: center;
    background-color: rgba(1, 232, 147, 1);
}
.product form{
    width: 62%;
}
.product form section{
    display: flex;
    flex-direction: column;
    margin-left: 16%;
}
.product form section article{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.product form section article label{
    font-size: 13px;
}
.product form section article input{
    border: none;
    border-radius: 5px;
    font-family: 'Cinzel', serif;
}
.product form section .button{
    display: flex;
    
    justify-content: space-between
}
.product form section .button button{
    font-family: 'Cinzel', serif;
    border: none;
}

.product form section .button button:hover{
    background-color: rgba(39, 58, 245, 0.8), rgba(1, 232, 147, 1);
}

.product .uploadImg .img{
    width: 40%;
}
.product .img img{
    width: 50%;
}
.product form  .deleteProduct{
    width: 40%;
}
.product form .deleteProduct picture img{
    width: 70%;
}


@media (min-width: 500px){
    header section .barra .logo{
        margin-left: 15px;
        margin-top: 15px;
    }
    header section .barra{
        justify-content: flex-start;
    }
    header section .barra .boton button{
        display: none;
    }
    header section .buscador{
        position: absolute;
        top: 7.5vh;
        right: 41vw;
        width: 10%;
    }
    header section .buscador input{
        width: 41vw;
        height: 25px;
    }
    header section .buscador button {
        padding: 5px;
        left: 19vw;
    }
    header nav{
        display: flex;
        justify-content: space-between;
    }
    header nav ul{
        display: flex;
        list-style: none;
    }
    header nav ul li{
        padding: 5px;
    }
    header nav ul li a{
        text-decoration: none;
        color: black;   
    }
    header nav ul li a i{
        margin-left: 3px;
    }
    header .animal{
        display: none;
    }

    /* pruduct detail main*/
    .mainProducto picture {
        text-align: center;
    }
    .mainProducto .imagenProducto{
        width: 300px;
    }
    .product form section article div {
        display: flex;
        justify-content: space-between;
        margin-bottom: 6px;
        align-content: center;
        flex-direction: row;
        align-items: stretch;
    }
    .product form section .check div{
        display: flex;
        flex-direction: column;
    }
    .product form section .check div div{
        display: flex;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
    }
    
}
@media (min-width: 800px){
    
    footer .logo{
        width: 10%;
    }
    footer article p{
        font-size: 24px;
    }
    footer article .icono i{
        font-size: 25px;
        margin-bottom: 20px;
    }
    footer .btns{
        flex-direction: row;
    }
    footer .btns button {
        border-radius: 6px;
        display: flex;
        justify-content: space-between;
        margin-left: 10px;
        height: 30px;
        align-items: center;
        font-size: 21px;
        background-color: orange;
    }
    .product form section{
        margin: 0;
    }
    .product form section .check div div{
        font-size: 22px;
    }
    .product form section article label {
        font-size: 18px;
    }
    
}

