<!doctype html>
<html>
    <%- include('../partial/head')%>
<body>    
    <%- include('../partial/header')%>
    <main class="login">
        <form action="/login" method="post">
            <h3>ingresar</h3>
            <section>
                <% if (locals.error) { %>
                    <p><%= error.email ? error.email.msg :  error.msg%> </p>
                <% } %>
            </section>
            <section>
                <article>
                    <input type="text" name="email" placeholder="mail">
                    <div class="icon">
                        <i class="fa-solid fa-right-to-bracket"></i>
                    </div>
                </article>
                <article>
                    <input type="password" name="password" placeholder="contraseña">
                    <div class="icon">
                        <i class="fa-solid fa-unlock"></i>
                    </div>
                </article>
            </section>
            <section class="subBotones">
                <div>
                    <label for="record">recordarme</label>
                    <input type="checkbox" name="recordarPasword" id="record">
                </div>
                <button type="submit" class="olvideContrasenia">olvide la contraseña</button>
            </section>
            <section class="submit">
                <button type="submit" class="ingresar">ingresar</button>
            </section>
        </form>

       
    </main>
    <%- include('../partial/footer')%>
</body>
</html>