<!doctype html>
<html>
<head>
    <%- include('../partial/head')%>
</head>
<body>
    <%- include('../partial/header')%>
    <main class="register">
        <form action="/register" method="post">
            <section>
                <article>
                    <input type="text" name="frist_name" placeholder="nombre">
                    <input type="text" name="last_name" placeholder="apellido">
                </article>
                <article>
                    <input type="text" name="direction" placeholder="direccion">
                    <input type="text" name="town" placeholder="ciudad">
                </article>
                <article>
                    <input type="email" name="email" placeholder="email">
                    <input type="number" name="phone_contact" placeholder="N° de contacto">
                </article>
                <article>
                    <input type="password" name="pasword" placeholder="contraseña">
                    <input type="password" name="repet_pasword" placeholder="repetir contraseña">
                </article>
                <article>
                    <button type="submit">crear cuenta</button>
                </article>
            </section>
            

        </form>

    </main>
    <%- include('../partial/footer')%>
</body>
</html>